<h1>The Homepage</h1>

#Créer un formulaire sur la page d'accueil pour permettre à l'utilisateur de
#sélectionner la monnaie de son pays.
#Lorsque l'utilisateur soumet le formulaire
#utiliser la méthode d'obtention du cours de l'or
#pour obtenir les informations sur le cours de l'or
#Afficher ensuite ces informations sur la page de résultat

<%= link_to 'About us', about_path %>
